<div id="{{post_id}}" class="item">
  <img src="images/uploads/posts/{{thumbnail}}" id="{{post_id}}" alt="room" />
  <div class="cardBody">
    <p class="cardTitle">Title: {{title}}</p>
    <p class="cardAddress">Address: {{address}}</p>
    <p class="cardDescription">Description: {{description}}</p>
    <a class="postButton" href="/post/{{post_id}}">Check Post</a>
  </div>
</div>