<div id="{{post_id}}" class="item card">
  <img class="cardImage max-w-screen-lg mx-auto" src="images/uploads/posts/{{thumbnail}}" id="{{post_id}}" alt="room" />
  <div class="cardBody break-words">
    <p class="cardTitle font-bold text-lg">{{title}}</p>
    <p class="cardAddress">{{address}}</p>
    <p class="cardDescription">{{description}}</p>
  </div>
  <button class="postButton" href="/post/post-{{post_id}}">Check Post</button>
</div>