<div id="{{post_id}}" class="item">
  <img src="images/uploads/posts/{{thumbnail}}" id="{{post_id}}" alt="room" />
  <div class="cardBody">
    <p class="cardTitle">{{title}}</p>
    <p class="cardDescription">{{description}}</p>
    <a class="postButton" href="/post/post-{{post_id}}">Check Post</a>
  </div>
</div>