{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: room-profile.hbs
* Description: this page will display the room and all it's amenities 

=================================================================================================}}


{{! do whatever you need to here to make it pretty :) }}
<img src="{{currentPost.photopath}}" alt="Sum Thin Wong" />
<h3>{{currentPost.title}}</h3>
<div>{{currentPost.username}}</div>
<div>{{currentPost.description}}</div>
<div>{{currentPost.created}}</div>

{{#each comments}}
  {{this.description}}
  {{this.created}}
{{/each}}