{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: user-profile.hbs
* Description: this page shows a user's profile page

=================================================================================================}}


<img
  class="cardImage max-w-screen-lg mx-auto"
  {{!-- src="images/uploads/posts/{{photopath}}" --}}
  src="../images/Smiley_Face.JPG"
  id="{{user_id}}"
  alt="face"
/>
<h3>{{currentUser.first_name}}</h3>
<div>{{currentUser.last_name}}</div>
<div>{{currentUser.gender}}</div>
<div>{{currentUser.fields}}</div>
<div>{{currentUser.school}}</div>
<div>{{currentUser.email}}</div>
<div>{{currentUser.username}}</div>

{{!-- {{#each comments}}
  {{this.description}}
  {{this.created}}
{{/each}} --}}